<h1>Welcome to the Singapore Blood Bank</h1>

<h1>Application Manifest</h1>
<h2>About</h2>
<h3>This application is to book an appointment with the blood bank.</h3>   
<h3>A user arrives at the welcome page and clicks on his/her blood type which would bring the user to another page 
showing the selected blood type as well as the current stock levels as a percentage of targeted stock levels.</h3>
<h3>The user can then book an appointment with the blood bank.</h3>
<h3> After the appointment has been booked, the user can then view the appointment details.</h3>



<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="assets/images/A/A.png" (click)="clickA()">
            <!-- <button type="button" [routerLink]="['/A']" class="btn btn-primary">Blood Type A</button> -->
        </div>
        <div class="col-sm-4">
            <img src="assets/images/B/B.png" (click)="clickB()">
        </div>
        <div class="col-sm-4">
            <img src="assets/images/AB/AB.png" (click)="clickAB()">
        </div>
        <div class="col-sm-4">
            <img src="assets/images/O/O.png" (click)="clickO()">
        </div>
</div>


