<h1>Welcome to the information page for Blood Type: A</h1>
<img src="assets/images/A/A.png" alt="Blood Type A" width="250" height="250">
<div>

</div>
<br>
<div>
    Selected Blood Type: A
</div>
<br>
<div>
    Current Blood Stock Level: 80% of targeted level
</div>
<br>
<!-- <br>
<button type="button" [routerLink]="['appointmentsbooking']" class="btn btn-primary">Click here to book an appointment</button>
<br>
<br>
<button type="button" [routerLink]="['B']" class="btn btn-primary">Back to Home Page</button> -->

<button type="button" (click)="gotoAppointmentsbooking()">Click here to start booking an appointment!</button>